a.link {
    color:green;
    border:none;
}

a.hover {color:red;}
a.active {color:yellow;}
a.visited {color:purple;}
body {
    background-color:orange;
}

h1.h {border-width:1px;
      border-style:solid;
      border-color:white;
      padding:0px;
      margin:0px;
}